.header {
  width: 100%;
  background-color: rgb(107, 107, 107);
  color: white;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

  padding:1rem 2rem 2rem 2rem;
  box-sizing: border-box;

  @media (min-width: 768px) {
    padding: 2rem;
  }

  @media (min-width: 1200px) {
    padding: 2rem;
  }

  &__content {
    max-width: 650px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    @media (max-width: 768px) {
      gap: 1rem;
    }
  }

  &__decor {
    font-size: 2rem;
    line-height: 1;
  }

  &__title {
    font-size: clamp(1.6rem, 2.5vw + 1rem, 3rem);
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
  }

  &__text {
    font-size: clamp(0.9rem, 1vw + 0.5rem, 1.2rem);
    color: #eaeaea;
    line-height: 1.6;
    margin: 0;
  }
}
