html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', 'Roboto', sans-serif;
  scroll-behavior: smooth;
  background-color: #000; // możesz zmienić jeśli potrzebujesz
  color: white;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;

  &__content {
    flex: 1; // powoduje, że footer spada na dół
    display: flex;
    flex-direction: column;
  }
}

/* Dodatkowe globalne ustawienia */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}
